h1{
    color: midnight;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    color: midnightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: whitesmoke;
    font-family: Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#map{
    height: 100%;
}
body,
html {
  height: 100%;
}
.navbar-brand{
    color: white; 
    background-color: midnightblue;
    font-size:x-large;
    padding:10px;
}
.navbar-brand:hover{
    color:#FFA08F;
}
.navbar{
    background-color: midnightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-link{
    color:white;

}
.nav-link:hover {
    color: #FFA08F;
  }
.container{
    background-color: white;
}
.top-buffer{
    margin-top:30px;
}
.legend {
    line-height: 18px;
    color: #555;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 10px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    margin-left: 10px;
    opacity: 0.75
}